@import '../../../../styles/Colors.scss';

.root{
	flex: 0 1 65vw;
	display: flex;
   align-items: flex-start;
	justify-content: flex-start;
	align-self: flex-start;
	flex-wrap: wrap;
	transition: 0.2s ease-in-out;
	@media(max-width:1000px) {
		flex: 0 1 100%;
	}
	@media(max-width:500px) {
		margin: 0 0 15px 0;
	}
	.column{
		flex: 0 1 23%;
		display: flex;
		flex-direction: column;
		margin: 0 5px;
		@media(max-width:1000px) {
			align-items: center;
			flex: 0 1 46%;
			margin:5px;
		}
		@media(max-width:285px) {
			align-items: center;
			flex: 0 1 100%;
		}

	}
	.loading{
		margin: 20px 5px;
		width: 150px;
		height: 30px;
	}
}
