@import '../../../../styles/Colors.scss';

.root{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

	.top {
		flex: 1 0 100%;
		margin: 5px 0;
		display: flex;
		justify-content: space-between;
	}

	.bottom {
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		margin: 5px 0;
	}

	.left {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
	}

	.right {
		flex: 1 0 auto;
		display: flex;
		align-items: center;
		flex: 0 1 120px;
		justify-content: space-between;
		.loading{
			margin: 0 5px 0 0;
			height: 20px;
			width:100px;
		}
	}
	.fit {
		position: relative;
		font-weight: 400;
		font-size: 18px;
		line-height: 40px;
		letter-spacing: 4px;
		text-transform: uppercase;
		padding:  0 0 4px 0;
		color:$orange;
		transition:0.2s ease-in-out;
		@media (max-width:1380px){
			font-size: 14px;
		}
		&::after{
			position: absolute;
			content:'';
			top: auto;
			bottom: -1px;
			width: 50%;
			left: 50%;
			transform: translate(-50%, 0);
			height: 1px;
			background: $orange;
			transition:0.2s ease-in-out;
		}
		&::before{
			position: absolute;
			content:'';
			top: auto;
			bottom: -6px;
			width: 4px;
			left: 50%;
			transform: translate(-50%, 0) rotate(45deg);
			height: 4px;
			background: $orange;
			transition:0.2s ease-in-out;
			
		}
		&:hover{
			color: $flesh	;
			&::after{
				background: $flesh;
			}
			&::before{
				background: $flesh;
				
			}
		}
		transition:0.2s ease-in-out;
		@media (max-width:1250px) {
			font-size: 12px;
		}

	}


	.price {
		display: flex;
		flex-direction: column;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-transform: capitalize;
		color:$black;
		transition:0.2s ease-in-out;
		@media (max-width:585px){
			font-size: 12px;
		}
	}
	.price_rental{
		display: flex;
		font-size: 14px;
		color: $black;
		transition:0.2s ease-in-out;
		span{
			color: $orange;
			margin: 0 5px 0 0;
		}

	}
	.price_sell{
		display: flex;
		font-size: 12px;
		color: $black;
		transition:0.2s ease-in-out;
		span{
			color: $grey;
			margin: 0 15px 0 0;
		}
		
	}

	.name {
		margin: 15px 0 0 0;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		text-transform: capitalize;
		color: $black;
		transition:0.2s ease-in-out;
		min-height: 16px;
		@media (max-width:1250px) {
			font-size: 12px;
		}
		@media (max-width:585px){
			font-size: 10px;
		}
		.loading{
			height: 16px;
			width:150px;
		}
	}

	// .card__articul

	.articul {
		margin: 5px 0;
		font-weight: 400;
		font-size: 12px;
		line-height: 14px;
		text-transform: capitalize;
		color:$grey;
		transition:0.2s ease-in-out;
		min-height: 12px;
		@media (max-width:1250px) {
			font-size: 10px;
		}
		.loading{
			height: 12px;
			width:100px;
		}
	}
	// .card-top__button

	.button {
		svg{
			path{
				stroke:$orange;
			}
			line{
				stroke:$orange;
			}
		}
		transition:0.2s ease-in-out;
		&:hover{
			svg{
				path{
					stroke:$flesh;
				}
				line{
					stroke:$flesh;
				}
			}
		}
	}
	.like{
		&.available{
			svg{
				fill: $orange ;
				path{
					stroke: $orange;
				}
			}
		}
	}
