@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url(https://cdn.rawgit.com/mfd/52127c4e52f63855f45d81d924dad6e7/raw/39ba7df0f6cc4c77d412cfcc1e59b1124abaa1a8/circe.css);
body {
	//font-family: 'Circe Light', sans-serif;
	font-family: 'Tenor Sans', sans-serif;
	font-size: 18px;
	line-height: 130%;
}