@import './../../styles/Colors.scss';

.root{
	overflow: hidden;
	width:100%;
	height: 100%;
	background: $loader;
	position: relative;
	cursor: default;
	span{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform:translate(-100%);
		background:transparent ;
		background: linear-gradient(291deg, transparent 0%, transparent 35%, $white 50%, transparent 65%, transparent 100%);
		animation: loading 0.5s ease-in-out infinite;
	}
}
@keyframes loading {
0%{
	transform:translate(-100%);
}
100%{
	transform:translate(100%);
}
}